* {
	
	box-sizing: border-box;
	
}


html {
	
	background-color: white;
	max-height: 700px;

}

body {
	
	background-color: transparent;
	
	
}




header {
	
	font-family: "Akzidenz-Grotesk BQ", sans-serif;	
	z-index: 99999;
	position: fixed;
	
}

.firstnavigation {
	position: fixed;
	left: 0px;	
	padding-left: 30px;
}

#cssmenu {
	background-color: white;
	height: 100%;
	border-top: 100px solid white;
	
	
}

header
.firstnavigation
li {
	text-transform: uppercase;
	padding-right: 10px;
	letter-spacing: 1px;	
	padding-left: 10px;
}

header
.firstnavigation
li
a {
	
	text-decoration: none;
	z-index: 99999;
}

/* Fixed Navigation Link Styles */

/* unvisited link */
header
a:link {
    color: grey;
}

/* visited link */
header
a:visited {
    color: grey;
}

/* mouse over link */
header
a:hover {
    color: #ff35b5;
}

/* selected link */
header
a:active {
   color: #ff35b5;
}

header
ul#cssmenu
.active a {
	
	color: #ff35b5;
}


/* Fixed Navigation Link Styles End */

/* Logo Styling */
.logo {	
	margin-left: auto;
	margin-right: auto;
	height: 420px;
	width: 300px;	
	/* top: 100px; */
}
.logobox {
	border: 6px solid gray;
	background-color: gray;
	padding-top: 40px;	
	color: white;
	width: 300px;
	height: 390px;
	font-family: "Akzidenz-Grotesk BQ", sans-serif;
	font-weight: bold;	
}
.logobox
li {	
	list-style-type: none;
	font-size: 90px;
	line-height: 95px;
	letter-spacing: 7px;	
}
.logofooter {	
	width: 300px;
	height: 50px;
	color: gray;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 6px;
	font-family: "montserrat", "helvetica", sans-serif;
	text-align: center;	
}	
.logobox
li {
	
	list-style-type: none;
	font-size: 90px;
	line-height: 95px;
	letter-spacing: 7px;	
}
.logofooter {	
	width: 300px;
	height: 50px;
	color: gray;
	font-size: 35px;
	text-transform: uppercase;
	letter-spacing: 6px;
	font-family: "montserrat", "helvetica", sans-serif;
	text-align: center;	
}

main
ul {	
	text-align: center;	
}


header
.firstnavigation
li {
	

	list-style-type: none;
	letter-spacing: 1px;
	
	
}


/* unvisited link */
header
a:link {
    color: gray;
}

/* visited link */
header
a:visited {
    color: gray;
}

/* mouse over link */
header
a:hover {
    color: #ff35b5;
}

/* selected link */
header
a:active {
    color: gray;
}

/* footer */

footer {
		top: 20px;	
	display: block;
	
}

/* link hover */
.section
a:hover {
	color: #ff35b5;
}
/* link hover */

footer,
.socialnavigation
 {

	top: 30px;
	
}

footer
.socialnavigation
{
	
	width: 250px;
	position: absolute;
	left: 500px;
}
footer
.socialnavigation
li {
	
	display: inline-block;
	background-color: transparent;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;
	
}


footer
.socialnavigation
li 
a {
	
	height: 30px;
	width: 30px;
	
}

/* Table Styling */

#content {
	
	top: 0;
	left: 1800px;
	width: auto;
	z-index: -1;
	
}

/* Removes default table styling */
#content
td {	
	border-bottom: transparent;	
}
/* Removes default table styling */


.section
h2 {
	font-family: "Akzidenz-Grotesk BQ", sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
	color: gray;
	text-align: left;
	margin-bottom: 0;
	border-bottom: 3px solid;
}



.section
article {
	
	width: 400px;
	
}

.section {
	
	color: gray;
	width: 1800px;
	min-height: 500px;
	padding-left: 200px;
	margin-left: 100px;
	/* padding-top: 40px; */
}
.section img {
	
	max-height: 400px;
	border: 1px solid grey;
	/* box-shadow: 5px 5px 2px #888888; */
}
.section li {
	list-style-type: none;
}
.section figure {
	
	display: inline-block;
}
#first {
	width: 600px;
	
}

#second {
	
	width: 800px;
	}

#third {
	width: 1200px;
}
#fourth {
	width: 2000px;
}

#fifth {
	width: 800px;
}

#sixth {
	width: 800px;
	
}
#seventh {
	width: 800px;
}

#eight {
	width: 3000px;
	
}
#sixth
article {
	
	padding-top: 100px;
	
}

/* form styling */
#messagebox {
	width: 500px;
	height: 200px;
}

#messagesubmit {
	margin-top: 10px;	
}




/* footer end */
